<div class="main">
  <div class="heading">
    <h1>Snake</h1>
  </div>

  <div class="grid">
    @for (i of boxes; track i) {
      @if (snake.includes(i)) {
        <div id="box{{i}}" class="box snake"></div>
      }
      @else if (edges.includes(i)) {
        <div id="box{{i}}" class="box edge"></div>
      }
      @else if (i === food) {
        <div id="box{{i}}" class="box food"></div>
      }
      @else {
        <div id="box{{i}}" class="box"></div>
      }
    }
  </div>

  <div id="buttons" style="text-align: center;">
    <button (click)="startGameLoop()">Play</button>
    <p>Score: {{this.score}}</p>
    <p>High: {{this.highScore}}</p>
  </div>
</div>